*{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
  
.fondo{
    background-color: black;
}
body{
    font-size: 18px;
    overflow-x: hidden;
}

.menu{
    color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul a{
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px;
}

ul a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    text-decoration: none;

}


.logo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo img{
    border: 2px solid rgb(54, 54, 54);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: start 1.8s;
    width:500px;
}

    @keyframes start {
    from{
        opacity: 0;
        transform: rotate(180deg);
    }
    to {
        opacity: 1;
    }
    }

.text{
    animation-name: texto;
    animation-duration: 2s;
}    
@keyframes texto {
    from{
     opacity: 0;
    }
 
    to{
     opacity: 1;
    }
 }

.presentacion{
    text-align: center;
    margin-top: 100px;
    width: 50%;
    height: 300px;
}
 /* view-timeline-name: --pres;
    view-timeline-axis: block;

    animation-timeline: --pres;
    animation-name: presentacion;
    animation-range: entry 0% cover 50%;


}

@keyframes presentacion {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0;

    }


}
/*  
    view-timeline-name: --text;
    view-timeline-axis: block;

    animation-timeline: --text;
    animation-name: texto;
    animation-range: entry 20% cover 40%;
    animation-fill-mode: both; 
*/



.carrousel{
    width: 500px;
    height: 600px;
}

.foto1{
    view-timeline-name: --images;
    view-timeline-axis: block;

    animation-timeline: --images;
    animation-name: presentacion;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both; 
}

@keyframes presentacion {
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }

}

.foto2{
    view-timeline-name: --images;
    view-timeline-axis: block;

    animation-timeline: --images;
    animation-name: presentacion;
    animation-range: entry 30% cover 50%;
    animation-fill-mode: both; 

}

.foto3{
    view-timeline-name: --images;
    view-timeline-axis: block;

    animation-timeline: --images;
    animation-name: presentacion;
    animation-range: entry 40% cover 70%;
    animation-fill-mode: both; 
}

.image-shadow{
    box-shadow: 0 0 15px rgb(56, 56, 56);
}

.submit{
    border-radius: 6%;
    border: 1px solid rgb(36, 36, 36);
    background-color: rgb(182, 182, 182);
    font-weight: bold;
}
.submit:hover{
    box-shadow: 0 0 10px white;
    background-color: rgb(19, 19, 19);
    color: white;
    transition-duration: 0.8s;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(3, 3, 3);
    margin-top: 200px;
}
.footer a{
    font-size: 0.8em;
    text-decoration: none;
    color: white;
}
.footer a:hover{
    color: rgb(138, 138, 138);
    text-decoration: none;
}


.footericon{
    filter: brightness(100);


}

.footericon:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 678px) {
    .menu {
        height: 80px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .logo img {
        width: 250px;
        margin-top: 100px;
    }
}


@media screen and (max-width: 600px) {
    .presentacion{
        height: 400px;
        width: 100%;
        text-align: center;
        padding: 10px;
}
    .foto1, .foto2, .foto3{
        width: 250px;
        margin: 10px;
    }
    .presentacion h3{
        font-size: 20px;
    }
    .carrousel{
        width: 400px;
        height: 400px;
        margin-bottom: 180px;
    }
    }


@media screen and (max-width: 425px) {
    .carrousel{
        margin-bottom: 180px;
    }
}